﻿@model PagedList.IPagedList<CompanyTest.Models.Employee>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Employees Page";
}
<h2>Employees</h2>
<p>
    @Html.ActionLink("Create New Employee", "Create")     |     @Html.ActionLink("Create Report", "CreateReport")
</p>
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p>
        <label>Status:</label>&nbsp;
        @Html.DropDownList("SearchString", new SelectList(ViewBag.Statuses, "Value", "Text"), new { currentFilter = ViewBag.CurrentFilter }) &nbsp;     
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Position
        </th>
        <th>
            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Status
        </th>
        <th>
            Admin actions
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        var status = item.Status == 0 ? "Inactive" : "Active";
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Position.Title
            </td>
            <td>
                @item.Salary
            </td>
            <td>
                @status
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))