﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #666699;
}

a:hover,
a:focus {
  color: #ff9933;
}

select {
    border-radius: 2px;
    border-color: #666699;
    height: 24px;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  background-color: #666699;
  color: #fff;
  border-radius: 4px;
}

hr {
  border-top: 1px solid #e0e0eb;
}
.navbar-inverse{
    background-color: #666699;
    border-color: #8585ad;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a{
    color: #000;
    font-size: 18px;
}

.form-horizontal .control-label{
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

input[type="radio"]{
    margin: 6px 0 0;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container .jumbotron {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .jumbotron h1 {
    font-size: 43px;
  }
}

.jumbotron {
    background-color: #e0e0eb;
}
