﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align: center;">
    <img src="~/Content/logo_big.png" />
    <h1>Company Test</h1>
</div>
<div class="row" style="text-align: center;">
    <div class="col-md-15">
        <h2>Welcome to Company Test!</h2>
        <p>
            Company Test is a sample application with Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
</div>